@model EFrazier_Blog.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<header class="intro-header" style="background-color: crimson">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>@ViewBag.Title</h1>
                    <hr class="small">
                    <span class="subheading">Enter your email to resest your password.</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class=" row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <Label>@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</Label>

                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", id = "name" })
                                <p class="help-block text-danger"> @Html.ValidationMessageFor(m => m.Email)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Email Link" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        
    </div>
</div>

@*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
   
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
